* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: Helvetica, Arial, sans-serif;
   color: #3a5077;
}

/* Apply styles to <header> */
header {
   padding: 20px 35px;
   background-color: #3a5077;
}

header nav {
   float: right;
   margin: 7px 0;
}

header nav ul li {
   display: inline;
}

header nav ul li a {
   margin: 0 30px;
   font-weight: lighter;
   font-size: 22px;
}

header h1 {
   font-weight: bold;
   font-size: 36px;
   color: #fcce36;
   margin: 0;
   display: inline;
}

header a {
   text-decoration: none;
   color: #fcce36;
}

footer {
   background: #fcce36;
   width: 100%;
   padding: 40px 35px;
}

footer h2 {
   display: inline;
   color: #3a5077;
   font-size: 30px;
   margin: 0;
}

footer div {
   float: right;
   line-height: 1.5;
   text-align: right;
}

footer a {
   color: #024e76;
}
